.transactionHistory {
  width: 600px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  border: lightgray 1px solid;
  border-spacing: 0px;
}

th {
  background-color: #55d8ec;
}

th,
td {
  height: 40px;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  border: lightgray 1px solid;
  text-align: center;
}

tr {
  background-color: #ffffff;
}

tr:nth-child(2n) {
  background-color: #ecf1f4;
}
