.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 100%;
}

.label {
  color: #333;
  text-align: center;
  font-size: 24px;
}

.percentage {
  color: #333;
  text-align: center;
  font-size: 20px;
}
